# Build outputs
build/
*.bin
*.elf
*.vcd
*.log

# LiteX / toolchain temporários
*.json
*.hdr
*.o

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor/IDE
*.swp
*.swo
.vscode/
.idea/

firmware/*.d
firmware/*.elf.map
